<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-card>
  
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
</ion-card>

<ion-button expand="full" color="primary">Dashboard</ion-button>
<br>

<ion-button expand="full" color="primary">About Us</ion-button>
<br>
<ion-button expand="full" color="primary">Help</ion-button>
<br>
<ion-button expand="full" color="primary" >Contact Us</ion-button>
<br>

<ion-button expand="full" color="danger" (click)="logout()">Logout</ion-button>
</ion-content>
